@font-face {
  font-family: 'glyphicons-halflings-regular';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot') format('embedded-opentype'),
       url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
       url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
       url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflings-regular') format('svg');
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src:  url('../fonts/ProximaNova-Bold.eot') format('embedded-opentype');
  src:  url('../fonts/ProximaNova-Bold.woff') format('woff'), 
        url('../fonts/ProximaNova-Bold.ttf')  format('truetype'), 
        url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Light';
  src:  url('../fonts/ProximaNova-Light.eot') format('embedded-opentype');
  src:  url('../fonts/ProximaNova-Light.woff') format('woff'), 
        url('../fonts/ProximaNova-Light.ttf')  format('truetype'), 
        url('../fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src:  url('../fonts/ProximaNova-Regular.eot') format('embedded-opentype');
  src:  url('../fonts/ProximaNova-Regular.woff') format('woff'), 
        url('../fonts/ProximaNova-Regular.ttf')  format('truetype'), 
        url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Semibold';
  src:  url('../fonts/ProximaNova-Semibold.eot') format('embedded-opentype');
  src:  url('../fonts/ProximaNova-Semibold.woff') format('woff'), 
        url('../fonts/ProximaNova-Semibold.ttf')  format('truetype'), 
        url('../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}


html{
  min-height: 100%
}
body {
  min-height: 100%;
  font-family: 'ProximaNova-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.carousel,
.item,
.active {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

footer {
  margin: 50px 0;
}

a:hover, a:focus{
  color: #none;
  outline: none;
}

h1, h2, h3, h4, h5, h6, ul, li {
  margin:0;
  padding:0;
}

a:hover{
  text-decoration: none;
}

.cls{
  clear: both;
  margin: 0;
  padding: 0;
}

.padding-zero {
  padding: 0px 0px;
}

.slider-bg {
  background-image: url(../img/slider-image.png);
  width: 100%;
  height: 100%;
  background-size: cover;
}

.slider-header {
  background-color: transparent;
  border-color: transparent;
}

.slider-logo {
  float: left;
  padding: 40px 0px 0px 0px;
}

.login-panel {
  width: 500px;
  float: right;
  background-color: #ffffff;
  padding: 49px 49px 49px 49px;
  border-radius: 2px;
  margin-bottom: 80px;
}

.login-panel h1 {
  font-family: 'ProximaNova-Semibold';
  font-size: 31px;
  color: #383f44;
}

.login-panel h1 span {
  display: block;
  font-family: 'ProximaNova-Regular';
  font-style: italic;
  font-size: 14px;
  color: #666666;
  padding-top: 4px;
  padding-bottom: 30px;
  line-height: 20px;
}

.login-panel .form-group input {
  border: 1px solid #e2e2e2;
  border-radius: 25px;
  height: 42px;
  padding: 6px 20px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  font-family: 'ProximaNova-Regular';
  color: #383f44;
  font-size: 16px;
}

.forgot-pass-panel {
  width: 500px;
  float: right;
  background-color: #ffffff;
  padding: 49px 49px 49px 49px;
  border-radius: 2px;
  margin-bottom: 80px;
}

.forgot-pass-panel h1 {
  font-family: 'ProximaNova-Semibold';
  font-size: 31px;
  color: #383f44;
}

.forgot-pass-panel h1 span {
  display: block;
  font-family: 'ProximaNova-Regular';
  font-style: italic;
  font-size: 14px;
  color: #666666;
  padding-top: 4px;
  padding-bottom: 30px;
  line-height: 20px;
}

.forgot-pass-panel .form-group input {
  border: 1px solid #e2e2e2;
  border-radius: 25px;
  height: 42px;
  padding: 6px 20px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  font-family: 'ProximaNova-Regular';
  color: #383f44;
  font-size: 16px;
}

.forgot-pass {
  width: 100%;
  float: left;
  font-family: 'ProximaNova-Regular';
  font-size: 16px;
  color: #383f44;    
  margin: 10px 0px 20px 0px;
}

.forgot-pass a {
  color: #383f44; 
}

.forgot-pass a:hover {
  color: #e4002b; 
}

.regist-yet {
  width: 100%;
  float: left;
  font-family: 'ProximaNova-Regular';
  font-size: 16px;
  color: #383f44;
  line-height: 44px;
}

.regist-yet span a {
  color: #e4002b;
}

.regist-yet span a:hover {
  color: #e4002b;
}

.sign-in-bttn {
  background-color: #5a6770;
  border: 1px solid #5a6770;
  color: #ffffff;
  width: 109px;
  height: 42px;
  border-radius: 38px;
  float: right;
  font-size: 16px;
  outline: 0;
}

.pos-initial {
  position: initial;
  padding-top: 0px;
  text-align: center;
}

.pos-initial h2 {
  font-size: 34px;
  color: #ffffff;
  font-family: 'ProximaNova-Bold';
  text-transform: uppercase;
  line-height: 42px;
}

.pos-initial h2 span {
  font-family: 'ProximaNova-Regular';
  font-style: italic;
  font-size: 16px;
  color: rgba(255,255,255,0.7);
  display: block;
  text-transform: initial;
  line-height: 30px;
  margin-top: 10px;
}

.slider-image-icon {
  width: 100%;
  float: left;
  text-align: center;
  margin-bottom: 25px;
}

.carousel-indicators {
  bottom: -25px;
}

.mg-top115 {
  margin-top: 115px;
}

.error-msg span {
  width: 100%;
  float: left;
  font-size: 13px;
  color: #e4002b;
  font-family: 'ProximaNova-Regular';
  padding: 2px 0px 7px 0px;
}

.error-msg input {
  border-radius: 25px !important;
  border: 1px solid #e4002b !important;
}

.ph-input {
  width: 72%;
  float: right;
}

.ph-box .sbHolder {
  width: 25%;
  float: left;
  margin-bottom: 15px;
}

.opacity6 {
  opacity: 0.6;
}


input[type=checkbox].css-checkbox + label.css-label {
  font-weight: normal;
  padding-left: 0px;
  height: 21px;
  display: inline-block;
  line-height: 25px;
  background-repeat: no-repeat;
  background-position: 0px -1px;
  font-size: 15px;
  vertical-align: middle;
  cursor: pointer;
  float: left;
  width: 22px;
  margin-top: 2px;
  margin-right: 15px;
}
.checkChecked{
  background-image:url(../img/checkbox-sprite.png) !important;
  position: relative;
  z-index: 9;
  height: 28px;
  width: 28px !important;
  margin-left:-6px;
}
.editAccount .checkChecked {
  margin-left:0px !important;
}
.checkCssChecked{
  background-image:url(../img/checkbox-sprite.png) !important;
  position: relative;
  z-index: 9;
  height: 28px;
  min-width: 28px !important;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0px -39px;
}

.css-checkbox {
  display: none;
}

.css-label{ background-image:url(../img/checkbox-sprite.png); }

.checkbox div {
  color: #383f44;
  font-size: 16px;
  font-family: 'ProximaNova-Regular';
  line-height: 32px;
  width: 90%;
  float: left;
  line-height: 24px;
}

.checkbox div span a {
  color: #e4002b;
}

.mg-bttm20 {
  margin-top: 27px;
  margin-bottom: 94px;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: 0px auto -webkit-focus-ring-color !important;
}


.success-flashmsg {
  width: 100% !important;
  float: left !important;
  height: 51px;
  background-color: #ff0000;
  font-family: 'ProximaNova-Semibold' !important;
  font-size: 16px !important;
  color: green !important;
  margin: -20px 0px 10px 0px;
  padding: 15px 20px 16px 20px !important;
}

.success-flashmsg img {
  margin-right: 6px;
  margin-top: -3px;
}
.success-flashmsg-loginSignup {
  width: 98% !important;
  float: left !important;
  height: 51px;
  background-color: #ff0000;
  font-family: 'ProximaNova-Semibold' !important;
  font-size: 16px !important;
  color: green !important;
  margin: 20px 0px 10px 20px;
  padding: 15px 20px 16px 20px !important;
}


.success-flashmsg-loginSignup img {
  margin-right: 6px;
  margin-top: -3px;
}
.error-message-check{
  width: 100%;
  float: left;
  font-size: 12px !important;
  color: #e4002b !important;
  font-family: 'ProximaNova-Regular';
  padding: 2px 0px 7px 0px;
  font-weight: normal;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #ffffff;
  opacity: 1;
  color: #cdcfd0 !important;
  border: 1px solid #f0f0f0 !important;
}

.btn:hover, .btn:focus, .btn.focus {
  color: #ffffff;
  text-decoration: none;
}

.mgtop20 {
  margin-top: 20px;
}
.mgtop15{
  margin-top: 15px;
}


.carousel-indicators li {
  width: 8px;
  height: 8px;
  background-color: #6a6a6a;
  border: 0px solid #fff;
}

.carousel-indicators .active {
  width: 15px;
  height: 8px;
  margin: 1px 0px;
  background-color: #ffffff;
}

.forgot-padding {
  padding: 84px 49px 83px 49px;
}

.live-search-panel {
  margin-bottom: 24px;
}

.live-search-panel .select .bootstrap-select {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}

.live-search-panel .select .bootstrap-select button.dropdown-toggle {
  border: 1px solid #e2e2e2;
  border-radius: 25px;
  height: 42px;
  padding: 6px 45px 6px 20px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  font-family: 'ProximaNova-Regular';
  color: #383f44;
  font-size: 16px;
}

.live-search-panel .select .bootstrap-select button span.caret {
  background: url(../img/selectbox-icon.png) no-repeat;
  background-position: 2px 0px;
  width: 35px;
  height: 33px;
  top: 15%;
  right: 6px;
  border-top: 0px dashed;
  border-top: 0px solid \9;
  border-right: 0px solid transparent;
  border-left: 0px solid transparent;
}

.live-search-panel .select .bootstrap-select button.dropdown-toggle:hover {
  color: #383f44 !important;
  background-color: #ffffff;
  border-color: #e2e2e2;
}

.live-search-panel .select .bootstrap-select button.dropdown-toggle:focus {
  outline: none !important;
  outline: 0px auto -webkit-focus-ring-color !important;
  outline-offset: 0;
  color: #383f44 !important;
  background-color: #ffffff;
  border-color: #e2e2e2;
}

.live-search-panel .select .bootstrap-select button.dropdown-toggle:active {
  color: #383f44 !important;
  background-color: #ffffff;
  border-color: #e2e2e2;
}

.live-search-panel .select .open button.dropdown-toggle {
  border-radius: 25px 25px 0px 0px;
}

.live-search-panel .select .bootstrap-select .dropdown-menu {
  border: 1px solid #e2e2e2;
  border: 1px solid #e2e2e2;
  margin: 7px 0 0;
  border-radius: 0px 0px 25px 25px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0);
  /*min-height: 50px !important;*/
  max-height: 266px !important;
  top: 34px !important;
  z-index: 99999 !important;
}

.live-search-panel .select .open button.dropdown-toggle {
  background-color: #ffffff;
}

.live-search-panel .select .bootstrap-select .dropdown-menu > li > a {
  padding: 6px 20px;
  color: #666666;
  font-size: 14px;
  border-bottom: 1px solid #e2e2e2;
  font-family: 'ProximaNova-Regular';
}

.live-search-panel .select .bootstrap-select .dropdown-menu > li:last-child a {
  border-bottom: 0px solid #e2e2e2;
}

.live-search-panel .select .bootstrap-select .dropdown-menu > li > a:hover, .live-search-panel .select .bootstrap-select .dropdown-menu > li > a:focus {
  color: #000000;
  background-color: #ffffff;
}

.live-search-panel .select .bootstrap-select .dropdown-menu > .active > a, .live-search-panel .select .bootstrap-select .dropdown-menu > .active > a:hover, .live-search-panel .select .bootstrap-select .dropdown-menu > .active > a:focus {
  color: #000000;
  background-color: #ffffff;
  border-bottom: 1px solid #e2e2e2;
}

.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
    border-bottom: 0 dashed !important;
}




